body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial,sans-serif;
}

header{
  text-align:center;
  padding:30px 20px;
  background:#111;
}

header h1{
  color:#f5c542;
  margin:0;
}

header p{
  color:#ddd;
} nav{
  display:flex;
  justify-content:center;
  gap:20px;
  padding:15px;
  background:#222;
}

nav a{
  color:#fff;
  text-decoration:none;
  font-weight:bold;
}

.hero{
  text-align:center;
  padding:60px 20px;
}

.hero h2{
  color:#f5c542;
}section{
  padding:30px 20px;
}

section h2{
  color:#f5c542;
  text-align:center;
}

.card{
  background:#111;
  padding:15px;
  margin:10px 0;
  border-radius:10px;
  text-align:center;
}

.whatsapp{
  position:fixed;
  right:20px;
  bottom:20px;
  background:#25D366;
  color:white;
  padding:15px 20px;
  border-radius:50px;
  text-decoration:none;
  font-weight:bold;
}
