body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial,sans-serif;
}

header{
  text-align:center;
  padding:30px 20px;
  background:#111;
}

header h1{
  color:#f5c542;
  margin:0;
}

header p{
  color:#ddd;
}

section{
  text-align:center;
  padding:40px 20px;
}

h2{
  color:#f5c542;
}

.card{
  background:#111;
  margin:20px auto;
  padding:20px;
  border-radius:10px;
  max-width:300px;
}
